<%= render "layouts/hat" %>
<h2>Кабинет покупателя</h2>

<div class="flex sp_around">

    <% if user_signed_in? %>
        <% if (current_user.workgroupe == "Покупатель") %>
            <button id="but_edit_custumer_profile"> <%= link_to "Редактировать профиль", edit_user_registration_path %></button>
        <% end %>
    <% end %>

    <% if (current_user[:workgroupe] == "Покупатель")%>
      <button id="but_basket" class="active buttons">Корзина</button>
      <button id="but_history" class="buttons">История заявок</button>
    <% else %>
        <button class="active buttons">Корзина</button>
        <button id="but_to_history_from_admin" class="buttons" data-id="<%= params[:custumer_id] %>">История заявок</button>
    <% end %>
        
</div>
<div id="basket">


    <% if (current_user[:workgroupe] == "Покупатель") %>
        <% url = '/baskets/to_archive' %>
    <% else %>
        <% url = "/baskets/to_archive/#{params[:custumer_id]}" %>
    <% end %>
        <%= form_with url: url do |form| %>

    <table  class="margin table ">
        <tr class="bold">
            <td class="td_top"><p>оформить</p></td> 
            <td class="td_top"><p>название</p></td> 
            <td class="td_top">ед.изм.</td>
            <td class="td_top"><p>цена розн.</p></td>
            <td class="td_top"><p>цена опт.</p></td>
            <td class="td_top">объём опта</td>
            <td class="td_top">компания</td>
            <td class="td_top">тел для заказа</td>
            <td class="td_top">удаление</td>
        </tr>

            <% if @materials %>
                 <% @materials.each do |mat| %>

                         <tr>
                             <td class="td"><%= form.check_box "#{mat.id}", class:"checkbox" %></td>
                             <td class="td"><%= mat.description %></td>
                             <td class="td"><%= mat.unit %></td>

                         <% if mat[:price_retail] == 0%>
                             <td class="td"> - </td>
                         <% else %>
                              <td class="td"><%= mat[:price_retail] %></td>
                         <% end %>
         
                         <% if mat[:price_wholesale] == 0%>
                             <td class="td"> - </td>
                         <% else %>
                              <td class="td"><%= mat[:price_wholesale] %></td>
                         <% end %>
                         
                         <% if mat[:amount_wholesale] == 0%>
                             <td class="td"> - </td>
                         <% else %>
                              <td class="td"><%= mat[:amount_wholesale] %></td>
                         <% end %>

                        <% if (mat[:user_id] == 18) %>
                             <td class="td"><%= mat.company %></td>
                        <% else %>
                             <td class="td"><%= User.find(mat[:user_id]).company %></td>
                        <% end %>

                             <td class="td"><%= mat.phone %></td>


                        <% if (current_user[:workgroupe] == "Покупатель") %>
                             <td class="td"><button class="delete_from_basket" data-mat_id='<%= mat.id %>' data-user_id='<%= current_user[:id] %>' >удалить</button></td>
                        <% else %>
                             <td class="td"><button class="delete_from_basket" data-mat_id='<%= mat.id %>' data-user_id='<%= params[:user_id] %>' >удалить</button></td>
                        <% end %>
                         
                         
                         
                         </tr>
                 <% end %>
            <% end %>
    </table>

    <%= form.submit "Оформить", id:"submit_form"  %>
    <% end %>
</div>


<script>
    const but = document.querySelector("#but_edit_custumer_profile")
    if (but) {
        but.addEventListener("click", ()=>{
           sessionStorage.href_from = window.location.href
        })
    }


    const but_to_delete_from_basket = document.querySelectorAll(".delete_from_basket") 
    but_to_delete_from_basket.forEach(but=>{
            but.addEventListener("click", (but)=>{
                const mat_id_to_delete = but.target.getAttribute("data-mat_id")
                const current_user_id = but.target.getAttribute("data-user_id")
                fetch(`/baskets/delete/${current_user_id}/${mat_id_to_delete}`)
                but.target.parentElement.parentElement.remove()
            })
    })


    const but_to_history_from_admin = document.querySelector("#but_to_history_from_admin")
    if (but_to_history_from_admin) {
        const current_custumer_id = but_to_history_from_admin.dataset.id
        but_to_history_from_admin.addEventListener("click", ()=>window.location.href = `/mod/custumer/cabinet/history/${current_custumer_id}`)
    }
</script>